<ion-content [fullscreen]="true">
  <div class="header">
    <h1 class="title">Velkommen tilbage</h1>
    <p class="subTitle">Log ind på din konto</p>
  </div>

  <form>
    <div class="ion-padding">
      <ion-item>
        <ion-input placeholder="Brugernavn" class="input"></ion-input>
        <ion-icon name="person-outline"></ion-icon>
      </ion-item>
      <ion-item>
        <ion-input placeholder="Email" class="input"></ion-input>
        <ion-icon name="lock-closed-outline"></ion-icon>
      </ion-item>
      <div class="forgotpassword">
      <a [routerLink]="['/resetpassword']">Glemt Kodeord?</a>
      </div>
      <div class="signuplink">
        <p>Ny Bruger? <a [routerLink]="['/signup']" >Tilmeld Her</a></p>
      </div>
    </div>
    <ion-fab vertical="bottom" horizontal="end" style="margin-bottom: 30px;">
    <ion-fab-button [routerLink]="['/forside']">
      <ion-icon name="chevron-forward"></ion-icon>
    </ion-fab-button>
  </ion-fab>
  </form>
  <div>

  </div>
  
</ion-content>
