
<ion-content [fullscreen]="true">
<div class="header">
  <h1 class="title">
    Skriv din email
    <p class="subTitle">For at modtage et link</p>
  </h1>
</div>
<div>
  <ion-item>
    <ion-input placeholder="Eamil" class="input"></ion-input>
    <ion-icon name="person-outline"></ion-icon>
  </ion-item>
  <ion-fab vertical="bottom" horizontal="end" style="margin-bottom: 30px;">
    <ion-fab-button [routerLink]="['/login']">
      <ion-icon name="chevron-forward"></ion-icon>
    </ion-fab-button>
  </ion-fab>
</div>
</ion-content>
