<ion-header [translucent]="true">
  <ion-toolbar color="none">
    <ion-searchbar color="primary" class="searchbar" placeholder="Søg tankstationer"></ion-searchbar>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
    </ion-toolbar>
  </ion-header>

  <ion-segment id="selection" value="default" swipeGesture="True">
    <ion-segment-button value="default">
      <ion-label>Benzin</ion-label>
    </ion-segment-button>
    <ion-segment-button value="segment">
      <ion-label>Diesel</ion-label>
    </ion-segment-button>
  </ion-segment>
  
  
    
  <ion-item>
    <label for="">
      Logo
    </label>
  </ion-item>
  <ion-item>
    <label for="">
      Logo
    </label>
  </ion-item>
  <ion-item>
    <label for="">
      Logo
    </label>
  </ion-item>
  <ion-item>
    <label for="">
      Logo
    </label>
  </ion-item>
</ion-content>




<ion-fab slot="fixed" horizontal="end" vertical="bottom">
  <ion-fab-button (click)="navigateToKamera()">
    <ion-icon name="add"></ion-icon>
  </ion-fab-button>
</ion-fab>


